/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";
@import "breakpoint";

nav { @include span(25%); }
main { @include span(75%); }

$susy: (
  columns: 12,
  gutter-position: inside,
  math: fluid,
  output: float,
  flow: rtl,
);
